---
import { MagicCard } from "../react/magic-card.tsx";
import InfoIcon from "../icons/info-icon.tsx";
import { motion } from "motion/react";
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  client:load
  className="w-full h-full"
>
  <MagicCard
    className="w-full h-full relative select-none text-pretty"
    client:load
    aria-labelledby="about-me-title"
  >
    <div class="p-4">
      <h2
        id="about-me-title"
        class="flex text-base md:text-lg font-bold items-center gap-1 leading-0.5"
      >
        <InfoIcon aria-hidden="true" />
        About
      </h2>
      <div
        class="text-xs md:text-sm text-black-500 p-1 text-justify leading-relaxed"
      >
        <p class="py-1">
          I am a full stack web developer with a focus on user experience and
          performance. I am...
        </p>
        <ul class="p-2 gap-2 list-disc list-inside" role="list">
          <li role="listitem">a BSIT graduate</li>
          <li role="listitem">
            familiar with both php and javascript ecosystems
          </li>
          <li role="listitem">interested in developer experience</li>
        </ul>
        <p class="py-1">
          I've dabbled with laravel, nextjs, react, and astro. I'm especially
          curious to explore tech stacks that take a strong stance on
          development practices.
        </p>
        <p class="py-1">
          I'm also enthusiastic about AI and its ability to help developers
          build better products. On that note, I have experience integrating
          LLMs using langchain.
        </p>
      </div>
    </div>
  </MagicCard>
</motion.div>
