---
import { MagicCard } from "../react/magic-card.tsx";
import DeployedCodeIcon from "../../icons/deployed-code-icon.tsx";
import { motion } from "motion/react";
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  client:load
  className="size-full"
>
  <MagicCard
    className="size-full relative select-none text-pretty"
    client:load
    aria-labelledby="hire-me-title"
  >
    <div class="p-4 size-full flex flex-col">
      <h2
        id="hire-me-title"
        class="flex text-base lg:text-lg font-bold items-center gap-1 mb-1"
      >
        <DeployedCodeIcon aria-hidden="true" />
        Bringing Ideas to Life
      </h2>
      <div
        class="text-xs lg:text-sm text-black-500 text-justify leading-relaxed p-1"
      >
        <p class="py-1">
          I prioritize building simple yet elegant web applications that offer
          seamless user experiences. My commitment to quality is reflected in my
          dedication to achieving:
        </p>
        <ul
          class="text-start text-xs lg:text-sm gap-2 list-none list-inside"
          role="list"
        >
          <li role="listitem" class="py-1 lg:py-2">
            <span>➡️</span> 90+ in Performance
          </li>
          <li role="listitem" class="py-1 lg:py-2">
            <span>➡️</span> 90+ in Accessibility
          </li>
          <li role="listitem" class="py-1 lg:py-2">
            <span>➡️</span> 100 in Best Practices
          </li>
          <li role="listitem" class="py-1 lg:py-2">
            <span>➡️</span> 100 in SEO Optimization
          </li>
        </ul>
      </div>
    </div>
  </MagicCard>
</motion.div>
