---
import { motion } from "motion/react";
import { EnvelopeIcon, MapPinIcon } from "@heroicons/react/20/solid";
import profile from "../../images/resume-photo.jpg";
import { Image } from "astro:assets";
import { MagicCard } from "../react/magic-card.tsx";
import BlueSkyIcon from "../../icons/socials/bluesky-icon.tsx";
import DiscordIcon from "../../icons/socials/discord-icon.tsx";
import LinkedInIcon from "../../icons/socials/linkedin-icon.tsx";
import GitHubIcon from "../../icons/socials/github-icon.tsx";
---

<motion.div
  animate={{ opacity: 1, y: 0 }}
  initial={{ opacity: 0, y: -20 }}
  transition={{ duration: 0.5 }}
  client:load
  className="size-full"
>
  <MagicCard
    className="size-full"
    backgroundPattern="cloud-pattern"
    client:load
  >
    <div class="size-full p-4">
      <div class="flex flex-col mx-auto">
        <div class="flex flex-col items-center justify-center text-center text-black-500">
          <Image
            src={profile}
            alt="profile"
            class="w-20 h-20 md:w-25 md:h-25 lg:w-30 lg:h-30 border-1 border-gray-300 object-cover rounded-full mb-2"
            loading="eager"
          />
          <div class="flex flex-col">
            <h3 class="text-base md:text-lg font-bold">Shawne Gimena</h3>
            <h4 class="text-foreground font-semibold mb-2">
              Web Developer
            </h4>
            <div class="flex flex-col gap-1 text-foreground justify-center items-center text-center">
              <p class="flex text-xs items-center gap-1">
                <MapPinIcon className="w-4 h-4" />
                Manila, Philippines
              </p>
              <p class="flex text-xs items-center gap-1">
                <EnvelopeIcon className="w-4 h-4" />
                shawnehgn10@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </MagicCard>
</motion.div>
