---
import { motion } from "motion/react";
import { EnvelopeIcon, MapPinIcon } from "@heroicons/react/20/solid";
import profile from "../../images/crucified-kid.jpg";
import { Image } from "astro:assets";
import { MagicCard } from "../react/magic-card.tsx";
import BlueSkyIcon from "../../icons/socials/bluesky-icon.tsx";
import DiscordIcon from "../../icons/socials/discord-icon.tsx";
import LinkedInIcon from "../../icons/socials/linkedin-icon.tsx";
import GitHubIcon from "../../icons/socials/github-icon.tsx";
---

<motion.div
  animate={{ opacity: 1, y: 0 }}
  initial={{ opacity: 0, y: -20 }}
  transition={{ duration: 0.5 }}
  client:load
  className="w-full h-full"
>
  <MagicCard
    className="w-full h-full"
    backgroundPattern="cloud-pattern"
    client:load
  >
    <div class="w-full h-full p-4">
      <div class="flex flex-col gap-1 mx-auto">
        <div class="flex flex-row text-start text-black-500 gap-2 md:gap-4">
          <Image
            src={profile}
            alt="profile"
            class="w-20 h-20 md:w-25 md:h-25 object-cover rounded-md"
            loading="lazy"
          />
          <div class="flex flex-col gap-1">
            <h4 class="text-base md:text-lg font-bold">Shawne Gimena</h4>
            <p class="flex text-xs md:text-sm text-foreground items-center gap-1">
              <MapPinIcon className="w-4 h-4" />
              Manila, Philippines
            </p>
            <p class="text-xs md:text-sm text-gray-800 dark:text-gray-400">
              @xhide341
            </p>
          </div>
        </div>
      </div>
    </div>
  </MagicCard>
</motion.div>
