---
import {
  EnvelopeIcon,
  MapPinIcon,
  BriefcaseIcon,
} from "@heroicons/react/20/solid";
import profile from "../../images/crucified-kid.jpg";
import { Image } from "astro:assets";
import { MagicCard } from "../react/magic-card.tsx";
import BlueSkyIcon from "../icons/bluesky-icon.tsx";
import DiscordIcon from "../icons/discord-icon.tsx";
import LinkedInIcon from "../icons/linkedin-icon.tsx";
import GitHubIcon from "../icons/github-icon.tsx";
---

<MagicCard
  className="w-full h-full"
  backgroundPattern="cloud-pattern"
  client:load
>
  <div class="flex flex-col w-full p-4">
    <div
      class="flex flex-col gap-4 justify-center items-center text-center mx-auto"
    >
      <Image
        src={profile}
        alt="profile"
        class="w-25 h-25 md:w-30 md:h-30 object-cover rounded-full"
        loading="lazy"
      />
      <div
        class="flex flex-col text-center text-black-500 gap-1 justify-around"
      >
        <div class="flex flex-col">
          <h4 class="text-base md:text-2xl font-bold">Shawne Hart</h4>
          <p class="text-xs md:text-sm text-gray-800">@xhide341</p>
        </div>
        <div class="flex gap-2 justify-center mt-2">
          <a
            href="https://bsky.app/profile/xhide341"
            target="_blank"
            aria-label="BlueSky"
          >
            <BlueSkyIcon />
          </a>
          <a
            href="https://discord.com/users/364749406878171136"
            target="_blank"
            aria-label="Discord"
          >
            <DiscordIcon />
          </a>
          <a
            href="https://linkedin.com/in/your-profile"
            target="_blank"
            aria-label="LinkedIn"
          >
            <LinkedInIcon />
          </a>
          <a href="mailto:your-email@example.com" aria-label="Email">
            <div class="tooltip">
              <EnvelopeIcon className="w-6 h-6" />
              <div class="tooltiptext">Email</div>
            </div>
          </a>
          <a href="https://github.com/xhide341" aria-label="GitHub">
            <GitHubIcon />
          </a>
        </div>
      </div>
    </div>
  </div>
</MagicCard>
