---
import { MagicCard } from "../react/magic-card.tsx";
import DeployedCodeIcon from "../icons/deployed-code-icon.tsx";
import { GlobeAsiaAustraliaIcon } from "@heroicons/react/24/outline";
import GithubIcon from "../icons/github-icon.tsx";
import NextJsIcon from "../icons/nextjs-icon.tsx";
import ReactIcon from "../icons/react-icon.tsx";
import PrismaIcon from "../icons/prisma-icon.tsx";
import NextAuthIcon from "../icons/nextauth-icon.tsx";
import PostgreSQLIcon from "../icons/postgresql-icon.tsx";
import LangchainIcon from "../icons/langchain-icon.tsx";
import LaravelIcon from "../icons/laravel-icon.tsx";
import LivewireIcon from "../icons/livewire-icon.tsx";
import AlpineJsIcon from "../icons/alpinejs-icon.tsx";
import FrankenphpIcon from "../icons/frankenphp-icon.tsx";
import { Image } from "astro:assets";
import AstraAiLogo from "../../images/astra-ai-logo.jpg";
import LcupLogo from "../../images/LCUP-logo.png";
---

<MagicCard className="w-full h-full" client:load>
  <div class="p-4 flex flex-col h-full">
    <h2
      id="projects-title"
      class="flex text-base md:text-lg font-bold items-center gap-1 tracking-wide"
      aria-label="Projects"
    >
      <DeployedCodeIcon aria-hidden="true" />
      Projects
    </h2>
    <p class="text-xs text-wrap text-gray-500 p-0 ml-1 md:ml-2">
      Note: None of these projects are cloned.
    </p>
    <hr class="my-2 text-gray-300" />
    <div
      class="flex flex-col md:flex-row gap-2 justify-between w-full flex-grow"
    >
      <div class="flex items-center gap-2 h-full flex-grow">
        <Image
          src={AstraAiLogo}
          alt="ASTRA AI"
          class="w-20 h-20 rounded-sm"
          loading="eager"
        />
        <h3 class="self-start pt-2 text-sm font-medium text-black-500 m-0">
          ASTRA AI
        </h3>
      </div>
      <div class="flex flex-col justify-between py-1 gap-2 flex-grow">
        <div class="flex self-end gap-1 items-center">
          <a
            href="https://astra-ai-iota.vercel.app"
            target="_blank"
            class="align-self-center vertical-align-middle inline-flex"
            aria-label="Visit ASTRA AI website"
          >
            <GlobeAsiaAustraliaIcon className="w-6 h-6" />
          </a>
          <a
            href="https://github.com/xhide341/astra-ai"
            target="_blank"
            class="align-self-end vertical-align-middle inline-flex"
            aria-label="View ASTRA AI on GitHub"
          >
            <GithubIcon aria-hidden="true" />
          </a>
        </div>
        <div class="flex self-end gap-1 items-center">
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <NextJsIcon aria-hidden="true" />
            <p class="text-xs">NextJS</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <ReactIcon aria-hidden="true" />
            <p class="text-xs">React</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <PrismaIcon aria-hidden="true" />
            <p class="text-xs">Prisma</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <NextAuthIcon aria-hidden="true" />
            <p class="text-xs">NextAuth</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <PostgreSQLIcon aria-hidden="true" />
            <p class="text-xs">PostgreSQL</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-2 text-gray-300" />
    <div
      class="flex flex-col md:flex-row gap-2 justify-between w-full flex-grow"
    >
      <div class="flex items-center gap-2 h-full flex-grow">
        <div
          class="flex items-center rounded-sm bg-black h-20 w-20 justify-center"
        >
          <Image
            src={LcupLogo}
            alt="Event Sphere"
            class="w-auto h-10"
            loading="eager"
          />
        </div>
        <div class="self-start pt-2 flex flex-col justify-between">
          <h3 class="text-sm font-medium text-black-500 m-0">Event Sphere</h3>
        </div>
      </div>
      <div class="flex flex-col justify-between py-1 gap-2 flex-grow">
        <div class="flex self-end gap-1 items-center">
          <a
            href="https://github.com/xhide341/eventsphere"
            target="_blank"
            class="align-self-end vertical-align-middle inline-flex"
            aria-label="View Event Sphere on GitHub"
          >
            <GithubIcon aria-hidden="true" />
          </a>
        </div>
        <div class="flex self-end gap-1 items-center">
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <LaravelIcon aria-hidden="true" />
            <p class="text-xs">Laravel</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <LivewireIcon aria-hidden="true" />
            <p class="text-xs">Livewire</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <AlpineJsIcon aria-hidden="true" />
            <p class="text-xs">AlpineJS</p>
          </div>
          <div
            class="flex items-center gap-1 border border-gray-300 py-1 px-1.25 rounded-full"
          >
            <FrankenphpIcon aria-hidden="true" />
            <p class="text-xs">FrankenPHP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</MagicCard>
