---
import { MagicCard } from "../react/magic-card.tsx";
import DeployedCodeIcon from "../icons/deployed-code-icon.tsx";
import PublicIcon from "../icons/public-icon.tsx";
import GithubIcon from "../icons/github-icon.tsx";
import NextJsIcon from "../icons/nextjs-icon.tsx";
import ReactIcon from "../icons/react-icon.tsx";
import PrismaIcon from "../icons/prisma-icon.tsx";
import NextAuthIcon from "../icons/nextauth-icon.tsx";
import PostgreSQLIcon from "../icons/postgresql-icon.tsx";
import LangchainIcon from "../icons/langchain-icon.tsx";
import LaravelIcon from "../icons/laravel-icon.tsx";
import LivewireIcon from "../icons/livewire-icon.tsx";
import AlpineJsIcon from "../icons/alpinejs-icon.tsx";
import FrankenphpIcon from "../icons/frankenphp-icon.tsx";
import { Image } from "astro:assets";
import AstraAiLogo from "../../images/astra-ai-logo.jpg";
import LcupLogo from "../../images/LCUP-logo.png";
---

<MagicCard className="w-full h-full" client:load>
  <div class="p-4">
    <h2
      id="projects-title"
      class="flex text-lg font-bold items-center gap-1 tracking-wide"
      aria-label="Projects"
    >
      <DeployedCodeIcon aria-hidden="true" />
      Projects
    </h2>
    <p class="text-xs text-gray-500 p-0 ml-2">
      Note: None of these projects are cloned/forked.
    </p>
    <hr class="my-2 text-gray-300" />
    <div class="pl-2 flex gap-2 justify-between w-full">
      <div class="flex gap-2 h-full">
        <Image src={AstraAiLogo} alt="ASTRA AI" class="w-20 h-20 rounded-sm" />
        <h3 class="text-sm font-semibold text-black-500 pt-1 m-0">ASTRA AI</h3>
      </div>
      <div class="flex flex-col justify-between gap-2">
        <div class="flex self-end gap-1 items-center">
          <a
            href="https://astra-ai-iota.vercel.app"
            target="_blank"
            class="align-self-center vertical-align-middle inline-flex"
            aria-label="Visit ASTRA AI website"
          >
            <PublicIcon aria-hidden="true" />
          </a>
          <a
            href="https://github.com/xhide341/astra-ai"
            target="_blank"
            class="align-self-end vertical-align-middle inline-flex"
            aria-label="View ASTRA AI on GitHub"
          >
            <GithubIcon aria-hidden="true" />
          </a>
        </div>
        <div class="flex self-end gap-1 items-center">
          <NextJsIcon aria-hidden="true" />
          <ReactIcon aria-hidden="true" />
          <div class="tooltip">
            <p class="text-xs rounded-md border border-gray-300 p-1">Zustand</p>
            <div class="tooltiptext">Zustand</div>
          </div>
          <PrismaIcon aria-hidden="true" />
          <NextAuthIcon aria-hidden="true" />
          <PostgreSQLIcon aria-hidden="true" />
          <LangchainIcon aria-hidden="true" />
        </div>
      </div>
    </div>
    <hr class="my-2 text-gray-300" />
    <div class="pl-2 flex gap-2 justify-between w-full">
      <div class="flex gap-2 h-full">
        <div
          class="flex items-center rounded-sm bg-black h-20 w-20 justify-center"
        >
          <Image
            src={LcupLogo}
            alt="Event Sphere"
            class="w-auto h-10 max-h-20"
          />
        </div>
        <div class="flex flex-col justify-between">
          <h3 class="text-sm font-semibold text-black-500 pt-1 m-0">
            Event Sphere
          </h3>
        </div>
      </div>
      <div class="flex flex-col justify-between gap-2">
        <div class="flex self-end gap-1 items-center">
          <a
            href="https://github.com/xhide341/eventsphere"
            target="_blank"
            class="align-self-end vertical-align-middle inline-flex"
            aria-label="View Event Sphere on GitHub"
          >
            <GithubIcon aria-hidden="true" />
          </a>
        </div>
        <div class="flex self-end gap-1 items-center">
          <LaravelIcon aria-hidden="true" />
          <LivewireIcon aria-hidden="true" />
          <AlpineJsIcon aria-hidden="true" />
          <div class="tooltip">
            <p class="text-xs rounded-md border border-gray-300 p-1">
              FilamentPHP
            </p>
            <div class="tooltiptext">FilamentPHP</div>
          </div>
          <FrankenphpIcon aria-hidden="true" />
        </div>
      </div>
    </div>
  </div>
</MagicCard>
