---
import { MagicCard } from "../react/magic-card.tsx";
import InfoIcon from "../icons/info-icon.tsx";
import { motion } from "motion/react";
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: 20 }}
  transition={{ duration: 0.5 }}
  className="w-full h-1/2"
  client:load
>
  <MagicCard className="w-full h-full" client:load>
    <div class="p-4">
      <h2
        id="services-title"
        class="flex text-base md:text-lg font-bold items-center gap-1 tracking-wide mb-2"
        aria-label="My Services"
      >
        <InfoIcon aria-hidden="true" />
        My Services
      </h2>
    </div>
  </MagicCard>
</motion.div>
