---
import { MagicCard } from "../react/magic-card.tsx";
import { motion } from "motion/react";
import { Icon } from 'astro-icon/components'
import "swiper/css";
import "swiper/css/pagination";
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  className="size-full"
  client:load
>
  <MagicCard className="size-full" client:load>
    <div class="p-4 size-full">
      <!-- Swiper container -->
      <div class="swiper services-swiper">
        <div class="swiper-wrapper text-center">
          <div class="swiper-slide" aria-label="Web Development">
            <div
              class="p-4 flex flex-col justify-center items-center h-[calc(100%-10px)]"
            >
              <Icon name="ri:code-s-slash-line" class="w-8 h-8 mb-1 md:mb-2" />
              <h3 class="text-lg md:text-xl font-semibold mb-3 md:mb-4">Web Development</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="Mobile Development">
            <div
              class="p-4 flex flex-col justify-center items-center h-[calc(100%-10px)]"
            >
              <Icon name="ri:smartphone-line" class="w-8 h-8 mb-1 md:mb-2" />
              <h3 class="text-lg md:text-xl font-semibold mb-3 md:mb-4">Mobile Development</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="UI/UX Design">
            <div
              class="p-4 text-center flex flex-col justify-center items-center h-[calc(100%-10px)]"
            >
              <Icon name="ri:layout-line" class="w-8 h-8 mb-1 md:mb-2" />
              <h3 class="text-lg md:text-xl font-semibold mb-3 md:mb-4">UI/UX Design</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="LLM Integration">
            <div
              class="p-4 text-center flex flex-col justify-center items-center h-[calc(100%-10px)]"
            >
              <Icon name="ri:brain-line" class="w-8 h-8 mb-1 md:mb-2" />
              <h3 class="text-lg md:text-xl font-semibold mb-3 md:mb-4">LLM Integration</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="Project Management">
            <div
              class="p-4 flex flex-col justify-center items-center h-[calc(100%-10px)]"
            >
              <Icon name="ri:task-line" class="w-8 h-8 mb-1 md:mb-2" />
              <h3 class="text-lg md:text-xl font-semibold mb-3 md:mb-4">Project Management</h3>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </MagicCard>
</motion.div>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";

  new Swiper(".services-swiper", {
    modules: [Pagination, Autoplay],
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: false,
    },
    spaceBetween: 20,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
  });
</script>
