---
import { MagicCard } from "../react/magic-card.tsx";
import { motion } from "motion/react";
import "swiper/css";
import "swiper/css/pagination";
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  className="w-full h-full"
  client:load
>
  <MagicCard className="w-full h-full" client:load>
    <div class="p-4 w-full h-full">
      <!-- Swiper container -->
      <div class="swiper services-swiper">
        <div class="swiper-wrapper text-center">
          <div class="swiper-slide" aria-label="Web Development">
            <div
              class="p-2 flex justify-center items-center h-[calc(100%-10px)]"
            >
              <h3 class="text-xl font-semibold mb-2">Web Development</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="Mobile Development">
            <div
              class="p-2 flex justify-center items-center h-[calc(100%-10px)]"
            >
              <h3 class="text-xl font-semibold mb-2">Mobile Development</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="UI/UX Design">
            <div
              class="p-2 text-center flex justify-center items-center h-[calc(100%-10px)]"
            >
              <h3 class="text-xl font-semibold mb-2">UI/UX Design</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="LLM Integration">
            <div
              class="p-2 text-center flex justify-center items-center h-[calc(100%-10px)]"
            >
              <h3 class="text-xl font-semibold mb-2">LLM Integration</h3>
            </div>
          </div>
          <div class="swiper-slide" aria-label="Project Management">
            <div
              class="p-2 flex justify-center items-center h-[calc(100%-10px)]"
            >
              <h3 class="text-xl font-semibold mb-2">Project Management</h3>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </MagicCard>
</motion.div>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";

  new Swiper(".services-swiper", {
    modules: [Pagination, Autoplay],
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: false,
    },
    spaceBetween: 20,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
  });
</script>
