---
import { MagicCard } from "../react/magic-card.tsx";
import CodeBlockIcon from "../../icons/code-block-icon.tsx";
import { motion } from "motion/react";
import NextJsIcon from "../../icons/technologies/nextjs-icon.tsx";
import ReactIcon from "../../icons/technologies/react-icon.tsx";
import TypescriptIcon from "../../icons/technologies/typescript-icon.tsx";
import TailwindIcon from "../../icons/technologies/tailwind-icon.tsx";
import LaravelIcon from "../../icons/technologies/laravel-icon.tsx";
import LivewireIcon from "../../icons/technologies/livewire-icon.tsx";
import AlpinejsIcon from "../../icons/technologies/alpinejs-icon.tsx";
import PhpIcon from "../../icons/technologies/php-icon.tsx";
import LangchainIcon from "../../icons/technologies/langchain-icon.tsx";
import AstroIcon from "../../icons/technologies/astro-icon.tsx";
import JavaScriptIcon from "../../icons/technologies/javascript-icon.tsx";
import DockerIcon from "../../icons/technologies/docker-icon.tsx";

const technologies = [
  { name: "Next.js", Icon: NextJsIcon },
  { name: "React", Icon: ReactIcon },
  { name: "Typescript", Icon: TypescriptIcon },
  { name: "JavaScript", Icon: JavaScriptIcon },
  { name: "Laravel", Icon: LaravelIcon },
  { name: "Livewire", Icon: LivewireIcon },
  { name: "PHP", Icon: PhpIcon },
  { name: "Alpine.js", Icon: AlpinejsIcon },
  { name: "Astro", Icon: AstroIcon },
  { name: "Tailwind", Icon: TailwindIcon },
  { name: "Docker", Icon: DockerIcon },
  { name: "Langchain", Icon: LangchainIcon },
];
---

<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  className="size-full"
  client:load
>
  <MagicCard className="size-full" client:load>
    <div class="p-4 size-full">
      <h2
        id="technologies-title"
        class="flex text-base md:text-lg font-bold items-center gap-1 tracking-wide"
        aria-label="Technology Stack"
      >
        <CodeBlockIcon aria-hidden="true" />
        Tech Stack
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 md:gap-2 pt-2 xl:pt-4 px-1 xl:px-2">
        {technologies.map((technology) => {
          const Icon = technology.Icon;
          return (
            <div 
              class="flex justify-start items-center rounded-md gap-1 lg:gap-2 bg-background border border-border p-2 transition-all hover:scale-105 group" 
              role="listitem"
            >          
              <Icon className="w-4 h-4 md:w-5 md:h-5 lg:w-6 lg:h-6" />
              <span class="text-xs text-foreground">
                {technology.name}
              </span>
            </div>
          );
        })}
      </div>
    </div>
  </MagicCard>
</motion.div>
