---
import { MagicCard } from "../react/magic-card.tsx";
import CodeBlockIcon from "../../icons/code-block-icon.tsx";
import { motion } from "motion/react";
import NextJsIcon from "../../icons/nextjs-icon.tsx";
import ReactIcon from "../../icons/react-icon.tsx";
import TypescriptIcon from "../../icons/typescript-icon.tsx";
import TailwindIcon from "../../icons/tailwind-icon.tsx";

const technologies = [
  { 
    name: "Next.js", 
    Icon: NextJsIcon
  },
  { 
    name: "React", 
    Icon: ReactIcon
  },
  {
    name: "Typescript",
    Icon: TypescriptIcon,
  },
  { 
    name: "Tailwind", 
    Icon: TailwindIcon },
];
---


<motion.div
  animate={{ opacity: 1, x: 0 }}
  initial={{ opacity: 0, x: -20 }}
  transition={{ duration: 0.5 }}
  className="w-full h-full"
  client:load
>
  <MagicCard className="w-full h-full" client:load>
    <div class="p-4">
      <h2
        id="technologies-title"
        class="flex text-base md:text-lg font-bold items-center gap-1 tracking-wide mb-2"
        aria-label="Technology Stack"
      >
        <CodeBlockIcon aria-hidden="true" />
        Tech Stack
      </h2>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-2" role="list">
        {technologies.map((technology) => {
          const Icon = technology.Icon;
          return (
            <div class="flex items-center rounded-lg gap-1 border border-gray-200 p-2 transition-all hover:scale-105 group" role="listitem">          
              <Icon width="24px" height="24px" />            
              <span class="text-xs font-medium">
                {technology.name}
              </span>
            </div>
          );
        })}
      </div>
    </div>
  </MagicCard>
</motion.div>
