---
import MagicCardLayout from "src/layouts/magic-card-layout";
import InfoIcon from "src/icons/info-icon.tsx";
---

<MagicCardLayout initial={{ opacity: 0, x: -20 }} className="size-full" client:load>
  <div class="p-4 size-full">
    <h2
      id="about-me-title"
      class="flex text-base md:text-lg font-bold items-center gap-1"
    >
      <InfoIcon aria-hidden="true" />
      About Me
    </h2>
    <div
      class="text-xs lg:text-sm text-black-500 p-1 leading-relaxed"
    >
      <p class="py-1">
        I'm a full stack web developer with a focus on detailed user
        experience. I am familiar with javascript and php ecosystems and
        I am currently looking for an internship.
      </p>
      <p class="py-1">
        I've dabbled with laravel, nextjs, react, and astro. I'm especially
        curious to explore tech stacks that take a strong stance on
        development practices.
      </p>
      <p class="py-1">
        I value clean code that balances readability and 
        efficiency because code is meant to be read by others.    
      </p>
      <p class="py-1">
        Outside of coding, I enjoy watching movies, reading manga, and 
        learning more about my purpose and god. My ultimate goal is 
        to be someone who brings value.
      </p>
    </div>
  </div>
</MagicCardLayout>
