---
import MagicCardLayout from "src/layouts/magic-card-layout";
import DeployedCodeIcon from "src/icons/deployed-code-icon.tsx";
---

<MagicCardLayout initial={{ opacity: 0, y: -20 }} className="size-full" client:load>
  <div class="p-4 size-full flex flex-col">
    <h2
      id="hire-me-title"
      class="flex text-base md:text-lg font-bold items-center gap-1"
    >
      <DeployedCodeIcon aria-hidden="true" />
      Work with Me
    </h2>
    <div
      class="text-xs lg:text-sm text-black-500 leading-relaxed p-1"
    >
      <p class="py-1">
        I focus on solving real-world problems and move the needle. Here’s what I care about:
      </p>
      <ul class="list-disc list-inside py-1 space-y-1">
        <li>Improving user conversion</li>
        <li>Boosting SEO and organic reach</li>
        <li>Streamlining lead generation</li>
        <li>Optimizing UI/UX</li>
        <li>Delivering maintainable, scalable code</li>
        <li>Cutting down load times</li>        
        <li>Aligning dev output with business goals</li>
      </ul>
      <p class="pt-2">
        I don’t just write code—I help turn ideas into measurable results that matter to users and businesses alike.
      </p>      
    </div>
  </div>
</MagicCardLayout>