---
import MagicCardLayout from "src/layouts/magic-card-layout";
import CodeBlockIcon from "src/icons/code-block-icon.tsx";
import NextJsIcon from "src/icons/technologies/nextjs-icon.tsx";
import ReactIcon from "src/icons/technologies/react-icon.tsx";
import TypescriptIcon from "src/icons/technologies/typescript-icon.tsx";
import TailwindIcon from "src/icons/technologies/tailwind-icon.tsx";
import LaravelIcon from "src/icons/technologies/laravel-icon.tsx";
import LivewireIcon from "src/icons/technologies/livewire-icon.tsx";
import AlpinejsIcon from "src/icons/technologies/alpinejs-icon.tsx";
import PhpIcon from "src/icons/technologies/php-icon.tsx";
import LangchainIcon from "src/icons/technologies/langchain-icon.tsx";
import AstroIcon from "src/icons/technologies/astro-icon.tsx";
import JavaScriptIcon from "src/icons/technologies/javascript-icon.tsx";
import DockerIcon from "src/icons/technologies/docker-icon.tsx";

const technologies = [
  { name: "Next.js", Icon: NextJsIcon },
  { name: "React", Icon: ReactIcon },
  { name: "Typescript", Icon: TypescriptIcon },
  { name: "JavaScript", Icon: JavaScriptIcon },
  { name: "Laravel", Icon: LaravelIcon },
  { name: "Livewire", Icon: LivewireIcon },
  { name: "PHP", Icon: PhpIcon },
  { name: "Alpine.js", Icon: AlpinejsIcon },
  { name: "Astro", Icon: AstroIcon },
  { name: "Tailwind", Icon: TailwindIcon },
  { name: "Docker", Icon: DockerIcon },
  { name: "Langchain", Icon: LangchainIcon },
];
---

<MagicCardLayout initial={{ opacity: 0, y: 20 }} className="size-full" client:load>
  <div class="p-4 size-full">
    <h2
      id="technologies-title"
      class="flex text-base md:text-lg font-bold items-center gap-1"
      aria-label="Technology Stack"
    >
      <CodeBlockIcon aria-hidden="true" />
      Tech Stack
    </h2>

    <div 
      class="grid grid-cols-2 lg:grid-cols-3 gap-1 md:gap-2 pt-2 xl:pt-4 px-1 xl:px-2"
      role="list"
      aria-label="List of technologies"
    >
      {technologies.map((technology) => {
        const Icon = technology.Icon;
        return (
          <div 
            class="flex justify-start items-center rounded-md gap-1 lg:gap-2 bg-background border border-border p-2 transition-all hover:scale-105 group" 
            role="listitem"
            aria-label={`${technology.name}`}
          >          
            <Icon className="w-4 h-4 md:w-5 md:h-5 lg:w-6 lg:h-6" aria-hidden="true" />
            <span class="text-xs text-foreground">
              {technology.name}
            </span>
          </div>
        );
      })}
    </div>
  </div>
</MagicCardLayout>
