---
// Get the current path
const { pathname } = Astro.url;
import ThemeToggle from "../theme-toggle.tsx";
import BlueSkyIcon from "../../icons/socials/bluesky-icon.tsx";
import DiscordIcon from "../../icons/socials/discord-icon.tsx";
import LinkedInIcon from "../../icons/socials/linkedin-icon.tsx";
import GitHubIcon from "../../icons/socials/github-icon.tsx";

// Define your navigation items
const navItems = [
  { href: "/", text: "Home" },
  { href: "/works", text: "Works" },
  { href: "/about", text: "About" },
  { href: "/blogs", text: "Blogs" },
];

// Helper function to check if link is active
const isActive = (href: string) => {
  if (href === '/') {
    return pathname === href;
  }
  return pathname.startsWith(href);
};
---

<header
  class="flex justify-between w-full h-full max-w-screen-xl mx-auto md:px-22 md:pb-4"
>
  <!-- Social Icons -->
  <div class="flex items-center justify-between gap-4 pt-4">
    <a
      href="https://bsky.app/profile/xhide341"
      target="_blank"
      aria-label="BlueSky"
    >
      <BlueSkyIcon />
    </a>
    <a
      href="https://discord.com/users/364749406878171136"
      target="_blank"
      aria-label="Discord"
    >
      <DiscordIcon />
    </a>
    <a
      href="https://linkedin.com/in/your-profile"
      target="_blank"
      aria-label="LinkedIn"
    >
      <LinkedInIcon />
    </a>
    <a 
      href="https://github.com/xhide341"
      target="_blank" 
      aria-label="GitHub">
      <GitHubIcon />
    </a>
  </div>

  <!-- Logo Placeholder -->
  <!-- <div class="w-24 h-24 bg-gray-300 rounded-md animate-pulse"></div> -->

  <!-- Navigation Links -->
  <div class="flex flex-row justify-between items-center gap-4 md:gap-12 h-full">
    <nav class="flex justify-center items-center gap-4 md:gap-12 pt-2 text-md font-base h-full">
      {navItems.map(({ href, text }) => (
        <a
          href={href}
          class:list={[
            "nav-link relative text-center text-gray-800 dark:text-white",
            { active: isActive(href) }
          ]}
        >
          {text}
        </a>
      ))}
    </nav>
    <div class="flex justify-center items-center pt-2">
      <ThemeToggle client:load/>
    </div>
  </div>
</header>
