---
// Get the current path
const { pathname } = Astro.url;
import ThemeToggle from "../theme-toggle.astro";

// Define your navigation items
const navItems = [
  { href: "/", text: "Home" },
  { href: "/works", text: "Works" },
  { href: "/about", text: "About" },
  { href: "/blogs", text: "Blogs" },
];

// Helper function to check if link is active
const isActive = (href: string) => {
  if (href === '/') {
    return pathname === href;
  }
  return pathname.startsWith(href);
};
---

<header
  class="flex flex-row-reverse justify-between w-full max-w-screen-xl mx-auto md:px-20 md:pb-4"
>
  <!-- Logo Placeholder -->
  <!-- <div class="w-24 h-24 bg-gray-300 rounded-md animate-pulse"></div> -->

  <!-- Navigation Links -->
  <div class="flex flex-row justify-between items-center gap-4 md:gap-12 h-full">
    <nav class="flex justify-center items-center gap-4 md:gap-12 pt-2 text-md font-base h-full">
      {navItems.map(({ href, text }) => (
        <a
          href={href}
          class:list={[
            "nav-link relative text-center text-gray-800 dark:text-white",
            { active: isActive(href) }
          ]}
        >
          {text}
        </a>
      ))}
    </nav>
    <div class="flex justify-center items-center pt-2">
      <ThemeToggle />
    </div>
  </div>
</header>
