---
import Profile from "../header/profile.astro";
import AboutMe from "../magic-cards/about-me.astro";
import Education from "../magic-cards/education.astro";
import Technologies from "../magic-cards/technologies.astro";
import Projects from "../magic-cards/projects.astro";
import Services from "../magic-cards/services.astro";
import Achievements from "../magic-cards/achievements.astro";
---

<div>
  <div class="grid grid-cols-1 md:grid-cols-8 px-4 md:px-10 pt-10 gap-2 h-full">
    <!-- first row -->
    <div class="grid-item-1 col-span-8 flex md:mb-10 mb-5">
      <Profile />
    </div>
    <!-- second row -->
    <div class="grid-item-2 col-span-8 lg:col-span-5">
      <AboutMe />
    </div>
    <!-- third row -->
    <div class="grid-item-3 col-span-8 sm:col-span-4 lg:col-span-3">
      <Education />
    </div>
    <!-- fourth row -->
    <div
      class="grid-item-4 col-span-8 sm:col-span-4 lg:col-span-3 row-start-3 row-end-5"
    >
      <Technologies />
    </div>
    <!-- fifth row -->
    <div class="grid-item-5 col-span-8 lg:col-span-2 row-start-3 row-end-4">
      <Services />
    </div>
    <!-- sixth row -->
    <div class="grid-item-6 col-span-8 lg:col-span-2 row-start-4 row-end-5">
      <Achievements />
    </div>
    <!-- seventh row -->
    <div class="grid-item-7 col-span-8">
      <Projects />
    </div>
  </div>
</div>
