---
import BorderColumn from "../border-column.astro";
import Profile from "../bento-cards/profile.astro";
import Quotes from "../react/magic-cards/quotes.tsx";
import AboutMe from "../react/magic-cards/about-me.tsx";
import History from "../react/magic-cards/history.tsx";
import Technologies from "../react/magic-cards/technologies.tsx";
import Projects from "../react/magic-cards/projects.tsx";
---

<div class="relative flex flex-col h-full max-w-screen-lg mx-auto px-10">
  <BorderColumn position="left-0" />
  <BorderColumn position="right-0" />
  <div class="grid grid-cols-1 md:grid-cols-8 p-10 gap-2">
    <!-- first row -->
    <div class="grid-item-1 col-span-8 flex">
      <Profile />
    </div>
    <!-- second row -->
    <div class="grid-item-2 col-span-8 mt-10 text-center">
      <Quotes client:load />
    </div>
    <!-- third row -->
    <div class="grid-item-3 col-span-5">
      <AboutMe client:load />
    </div>
    <div class="grid-item-4 col-span-3">
      <History client:load />
    </div>
    <!-- fourth row -->
    <div class="grid-item-5 col-start-0 col-span-4 w-full">
      <Technologies client:load />
    </div>
    <!-- fifth row -->
    <div class="grid-item-6 col-span-8">
      <Projects client:load />
    </div>
  </div>
</div>
