---
import Profile from "src/components/magic-cards/home/profile.astro";
import Availability from "src/components/magic-cards/home/availability.astro";
import AboutMe from "src/components/magic-cards/home/about-me.astro";
import Education from "src/components/magic-cards/home/education.astro";
import Technologies from "src/components/magic-cards/home/technologies.astro";
import Services from "src/components/magic-cards/home/services.astro";
import HireMe from "src/components/magic-cards/home/hire-me.astro";
import Location from "src/components/magic-cards/home/location.astro";
import Projects from "src/components/magic-cards/home/projects.astro";
---

<div>
  <div class="grid grid-cols-4 md:grid-cols-10 gap-2 h-full">
    <div class="col-span-4 md:col-span-3 md:row-start-1 md:row-end-3">
      <Profile />
    </div>
    <div class="col-span-4 md:col-span-3 md:row-start-3 md:row-end-5">
      <Services />
    </div>
    <div class="col-span-4 md:col-span-4 md:row-start-1 md:row-end-2">
      <Availability />
    </div>
    <div class="col-span-4 md:col-span-4 md:row-start-2 md:row-end-5">
      <AboutMe />
    </div>
    <div class="col-span-4 md:col-span-3 md:row-start-1 md:row-end-4">
      <Education />
    </div>
    <div class="col-span-4 md:col-span-4 md:row-start-5 md:row-end-8">
      <Technologies />
    </div>
    <div class="col-span-4 md:col-span-3 md:row-start-5 md:row-end-8">
      <Location />
    </div>
    <div class="col-span-4 md:col-start-8 md:col-end-11 md:row-start-4 md:row-end-8">
      <HireMe />
    </div>
    <div class="col-span-4 md:col-span-10">
      <Projects />
    </div>
  </div>
</div>
