---
import Profile from "../magic-cards/profile.astro";
import Availability from "../magic-cards/availability.astro";
import AboutMe from "../magic-cards/about-me.astro";
import Education from "../magic-cards/education.astro";
import Technologies from "../magic-cards/technologies.astro";
import Services from "../magic-cards/services.astro";
import HireMe from "../magic-cards/hire-me.astro";
import Location from "../magic-cards/location.astro";
import Projects from "../magic-cards/projects.astro";
---

<div>
  <div class="grid grid-cols-1 md:grid-cols-10 gap-2 h-full">
    <div class="grid-item-1 col-span-2 lg:col-span-3 row-start-1 row-end-3">
      <Profile />
    </div>
    <div class="grid-item-2 col-span-8 lg:col-span-3 row-start-3 row-end-5">
      <Services />
    </div>
    <div class="grid-item-3 col-span-8 lg:col-span-4 row-start-2 row-end-5">
      <AboutMe />
    </div>
    <div class="grid-item-4 col-span-2 lg:col-span-4 row-start-1 row-end-2">
      <Availability />
    </div>
    <div
      class="grid-item-5 col-span-8 sm:col-span-4 lg:col-span-3 row-start-1 row-end-4"
    >
      <Education />
    </div>
    <!-- <div
      class="grid-item-6 col-span-8 sm:col-span-4 lg:col-span-4 row-start-5 row-end-8"
    >
      <Technologies />
    </div> -->
    <div class="grid-item-6 col-span-8 lg:col-span-4 row-start-5 row-end-8">
      <Location />
    </div>
    <!-- seventh row -->
    <div class="grid-item-7 col-span-8 lg:col-start-8 col-end-11 row-start-4 row-end-8">
      <HireMe />
    </div>
    <!-- eighth row -->
    <div class="grid-item-8 col-span-8 lg:col-span-10">
      <Projects />
    </div>
  </div>
</div>
