---
import {
  EnvelopeIcon,
  MapPinIcon,
  BriefcaseIcon,
} from "@heroicons/react/20/solid";
import profile from "../../images/crucified-kid.jpg";
import { Image } from "astro:assets";
import { MagicCard } from "../react/magic-card.tsx";
---

<MagicCard className="w-full h-full" client:load>
  <div class="flex flex-col w-full p-4">
    <div
      class="flex flex-col gap-4 justify-center items-center text-center mx-auto"
    >
      <Image
        src={profile}
        alt="profile"
        class="w-25 h-25 object-cover rounded-full"
        loading="lazy"
      />
      <div
        class="flex flex-col text-center text-black-500 gap-1 justify-around"
      >
        <div class="flex flex-col">
          <h4 class="text-base md:text-xl font-bold">Shawne</h4>
          <p class="text-xs md:text-sm text-gray-800">@xhide341</p>
        </div>
        <div class="flex flex-col gap-1 text-gray-900">
          <p class="text-xs md:text-sm flex items-center gap-1">
            <MapPinIcon className="w-4 h-4" /> Bulacan, Philippines
          </p>
          <p class="text-xs md:text-sm flex items-center gap-1">
            <BriefcaseIcon className="w-4 h-4" /> Web/Mobile Developer
          </p>
          <p class="text-xs md:text-sm flex items-center gap-1">
            <EnvelopeIcon className="w-4 h-4" /> shawnehgn10@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</MagicCard>
