---
const { size } = Astro.props;
import { MagicCard } from "./react/magic-card.tsx";
---

<div
  class={`relative bg-white rounded-sm select-none border-1 shadow-xs border-gray-300 text-pretty ${size}`}
>
  <slot />
</div>
