---
// Component Imports
import { ClientRouter } from "astro:transitions";
import Header from "../components/sections/header-section.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <ClientRouter />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <meta name="description" content="Shawne Gimena's portfolio website" />
    <meta name="keywords" content="web developer, full stack, react, astro, laravel, nextjs, nextauth, prisma, postgresql, langchain, alpinejs, frankenphp, livewire, astraai, lcup" />
    <meta property="og:title" content="Shawne Gimena - Web Developer" />
    <meta property="og:description" content="Shawne Gimena's portfolio website" />
    <meta property="og:image" content="/path-to-preview-image.jpg" />
    <link rel="canonical" href={Astro.url.href} />
  </head>
  <body class="relative min-h-dvh pt-5 lg:pt-10 bg-gray-100 dark:bg-black">
    <Header transition:persist />
    <main
      class="relative w-screen max-w-screen-xl mx-auto font-poppins py-4 px-4 lg:px-10"
      transition:animate="slide"
    >
      <slot />
    </main>
    <footer class="relative w-full max-w-screen-xl mx-auto py-2 px-4 lg:px-10 text-center" transition:persist>
      <hr class="text-gray-300 w-full mx-auto py-2" />
      <p class="text-sm text-gray-700">© 2025. All rights reserved.</p>
    </footer>
  </body>
</html>
