---
// Component Imports
import { ClientRouter } from "astro:transitions";
import Header from "../components/sections/header-section.astro";
import "../styles/global.css";
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <script is:inline>
      // Initial theme setup
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        document.documentElement.classList.toggle('dark', localStorage.getItem('theme') === 'dark');
      } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark');
        localStorage.setItem('theme', 'dark');
      }

      // Handle theme during navigation
      document.addEventListener('astro:after-swap', () => {
        if (localStorage.getItem('theme') === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      });
    </script>
    <title>Shawne Gimena | Full Stack Web Developer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ClientRouter fallback="swap"/>
    <meta name="description" content="Hey, I am a full stack web developer specializing in React, Next.js, Laravel, and Astro. Experienced in building accessible, high-performance web applications with modern tech stacks and AI integration." />
    <meta name="keywords" content="web developer, full stack developer, react, nextjs, astro, laravel, typescript, javascript, tailwind, livewire, alpinejs, prisma, postgresql, langchain, ai integration, accessibility, performance optimization" />
    <meta property="og:title" content="Shawne Gimena | Full Stack Web Developer" />
    <meta property="og:description" content="Full stack web developer focused on crafting accessible, high-performance web applications with modern tech stacks. Experienced in React, Next.js, Laravel, and Astro." />
    <meta property="og:image" content="/path-to-preview-image.jpg" />
    <link rel="canonical" href={Astro.url.href} />
  </head>
  <body class="relative min-h-dvh pt-5 lg:pt-10 bg-background">
    <Header transition:persist />
    <main
      class="relative w-screen max-w-screen-xl mx-auto py-4 px-4 lg:px-10"
      transition:animate="slide"
    >
      <slot />
    </main>
    <footer class="relative w-full max-w-screen-xl mx-auto p-4 lg:px-10 text-center" transition:persist>
      <hr class="text-gray-300 w-full mx-auto py-2" />
      <p class="text-sm text-gray-600 dark:text-gray-400">© 2025. All rights reserved.</p>
    </footer>
  </body>
</html>
