---
import BentoCard from "../bento-card.astro";
---

<BentoCard>
  <p
    class="text-sm font-satoshi font-thin text-black-500 leading-relaxed italic p-4"
  >
    For when a man knows not what port he sails, no wind is favourable.
  </p>
</BentoCard>
