---
import BentoCard from "../bento-card.astro";
import CodeBlockIcon from "../icons/code-block-icon.tsx";
---

<BentoCard size="w-full h-[300px]">
  <div class="p-4">
    <h2
      id="technologies-title"
      class="flex text-lg font-bold items-center gap-1 tracking-wide mb-2"
    >
      <CodeBlockIcon />
      Technologies
    </h2>
    <div class="flex flex-wrap gap-2">Main Stack</div>
  </div>
</BentoCard>
