---
import BorderColumn from "../border-column.astro";
import {
  MapPinIcon,
  AtSymbolIcon,
  EnvelopeIcon,
} from "@heroicons/react/20/solid";
import { InformationCircleIcon } from "@heroicons/react/24/outline";
import BentoCard from "../bento-card.astro";
---

<div class="relative flex flex-col h-dvh max-w-screen-lg mx-auto px-10">
  <BorderColumn position="left-0" />
  <BorderColumn position="right-0" />
  <div class="flex flex-col p-10 w-full h-full gap-10">
    <!-- first row -->
    <div class="flex gap-6">
      <BentoCard size="w-30 h-30" class="flex text-center" />
      <!-- name -->
      <div class="flex flex-col text-start text-black gap-1 justify-around">
        <h4 class="text-2xl font-bold">Shawne Nuque</h4>
        <div class="flex flex-col gap-1">
          <p class="text-sm flex items-center gap-1">
            <EnvelopeIcon className="w-4 h-4" /> shawnehgn10@gmail.com
          </p>
          <p class="text-sm flex items-center gap-1">
            <MapPinIcon className="w-4 h-4" /> Bulacan, Philippines
          </p>
        </div>
        <h3 class="text-md font-semibold">Web Developer</h3>
      </div>
    </div>

    <!-- second row -->
    <div class="flex gap-6">
      <BentoCard
        size="w-[500px] h-[325px]"
        class="flex flex-col flex-grow text-center gap-2 items-center justify-center"
        role="region"
        aria-labelledby="about-me-title"
      >
        <h2
          id="about-me-title"
          class="flex text-lg font-bold items-center gap-1 tracking-wide"
        >
          <InformationCircleIcon className="w-5 h-5" />
          About Me
        </h2>
        <p class="text-sm text-black-500 p-1 leading-relaxed">
          I am a full stack web developer with a focus on user experience and
          performance. I am...
        </p>
        <ul class="text-sm p-2 gap-2 text-black-500 list-disc list-inside">
          <li>a BSIT graduate</li>
          <li>familiar with both php and javascript ecosystems</li>
          <li>into all things that make the world an interesting place</li>
        </ul>
        <p class="text-sm text-black-500 p-1 leading-relaxed">
          I've dabbled with laravel, nextjs, astro, and react. I'm also
          comfortable with TALL stack and am currently learning VueJS. I'm
          especially curious to explore tech stacks that take a strong stance on
          development practices.
        </p>
        <p class="text-sm text-black-500 p-1 leading-relaxed">
          I'm also interested in AI and its ability to help developers build
          better products. I have experience integrating AI through langchain.
        </p>
      </BentoCard>
      <BentoCard
        size="w-[350px] h-[500px]"
        class="flex-none text-center mt-10"
      />
    </div>
  </div>
</div>
